html,
body,
#root,
.App {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-container img {
  width: 50%;
}

.main-container span {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.main-container p {
  /* width: 80%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
}
.main-container label {
  width: 50%;
  text-align: start;
}

.agreement--section {
  margin: 70px 0;
}

.agreement--checkbox {
  width: 20px;
  height: 20px;
}
